*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #1e1e2e;
    font-family: 'Courier New', Courier;
}

body{
    background: linear-gradient(90deg,#f5c2e7 0%, #74c7ec 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.linksBox{
    background-color: #fab387;
    margin: 25px;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    width: 50%;
    box-shadow: 0 0 5px 3px #1e1e2e;
}

.name{
    font-size: 7.5em;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 3px #1e1e2e;
    margin: 15px;
}

.logo{
    background: linear-gradient(45deg,#74c7ec 0%, #f5c2e7 100%);
    display: block;
    width: 17.5em;
    border-radius: 50%;
    border: 3px solid #1e1e2e;
    margin: 15px auto;
}

.socialMediasText{
    font-size: 2em;
    color: #1e1e2e;
    margin: 15px;
}

.socialMediaButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74c7ec;
    width: 75%;
    border-radius: 25px;
    border: #1e1e2e solid 3px;
    margin: 30px auto;
}

.socialMediaIcon{
    display: block;
}

.socialMediaName{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 15px;
}

.icons8{
    font-size: 0.75em;
}

.disclaimer{
    font-size: 0.75em;
    margin-top: 15px;
}

/*=-=-= Change of resolution =-=-=*/
@media (max-width: 1023px){
    .linksBox{
        width: 80%;
    }
    .name{
        font-size: 4em;
    }
    .logo{
        width: 15em;
    }
    .socialMediaButton{
        margin: 25px auto;
    }
    .socialMediaName{
        font-size: 1.2em;
    }
}